<html>
  <body>
      <form method="POST" action="">
        <center>
        <H1>Enter your details</H1>
        <div class="info">
          <input type="text" name="name" placeholder="username"><br><br>
          <input type="text" name="age" placeholder="role"><br><br>
          <input type="number" name="email" placeholder="age"><br><br>
          <input type="email" name="mobile" placeholder="email"><br><br>
          <input type="text" name="location" placeholder="hobby"><br><br>
          <input type="submit" value="Submit"> 
    </form>
    </center>
    </div>
  </body>
</html>
